.search-container>div{
	float: left;
	padding: 10px;
}
.search-container div label{
	font-size: 12px;
}
@font-face {
	font-family: "CorpiRegular";
    src: url(CorpidOTB-Regular.otf);
}

body{
	background: url(../images/full-bg.png)no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.corpi-font{
	font-family: "CorpiRegular" !important;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

.clear { clear:both;
}


.fl{
	float:left;
}

.fr{
	float:right;
}

.global-cont{
	/*position: relative;*/
	width: 1010px;
	margin:0 auto;
}

.bg-body-top{
	background:url(../images/top-body.png) no-repeat center;
	width: 100%;
	height: 40px;

	background-position-y: 14px;
}

.bg-body-middle{
	background:url(../images/mid-body.png) repeat-y center;
	width: 100%;
	height : auto !important;
	/* Firefox */
	height: -moz-calc(100% - 218px);
	/* WebKit */
	height: -webkit-calc(100% - 218px);
	/* Opera */
	height: -o-calc(100% - 218px);
	/* Standard */
	height: calc(100% - 218px);
}

.bg-body-bottom{
	background:url(../images/bottom-body.png) repeat-y center;
	width: 100%;
	min-height: 369px;

	background-position-x: 3px;
}

#left-sidebar{
	position: relative;
	display:block;
	width: 165px;
	margin-left: 35px;
	margin-top: -15px;
}

.sidebar-min-violet{
	position: relative;
	display: block;
	width: 100%;
	background: #48063c; /* Old browsers */
	background: -moz-linear-gradient(top, #48063c 0%, #3b0330 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#48063c), color-stop(100%,#3b0330)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #48063c 0%,#3b0330 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #48063c 0%,#3b0330 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #48063c 0%,#3b0330 100%); /* IE10+ */
	background: linear-gradient(to bottom, #48063c 0%,#3b0330 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48063c', endColorstr='#3b0330',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding-top: 1px;
	padding-bottom: 5px;
}

.sidebar-min-orange{
	position: relative;
	display: block;
	width: 100%;
	background: #ef711a; /* Old browsers */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding-top: 1px;
	padding-bottom: 5px;
}

.sidebar-min-violet div.inner{
	position: relative;
	display: block;
	margin: 4px;
	border: 1px solid #640854;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 155px;
	min-height: 25px;
	padding-bottom: 5px;
}

.sidebar-min-orange div.inner{
	position: relative;
	display: block;
	margin: 4px;
	border: 1px solid #f88e1a;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 155px;
	min-height: 75px;
	padding-bottom: 5px;
}

.sidebar-min-violet div.inner h3, .sidebar-min-orange div.inner h3{
	color: #fff;
	font-size: 14px;
	font-family: "CorpiRegular";
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.text-format-small{
	font-size: 14px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	width: 95px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #26041f;
	margin-left: 5px;
	background-color: #ece3d6;
}

.smallest{
	width: 39px;
}
.search{height:30px;margin-top:35px!important;border:1px solid #808080;}
.search-box .input-group{position:relative; top:0px;}
.search-box .btn-default{padding:3px 12px 4px 12px;font-size:13px;}
.search-box .search-field{padding:3px 12px;height:25px}
.search-box .input-group-addon{padding:0 6px;position:relative;cursor:pointer}
.search-box .input-group-addon span{position:relative;top:0px}
.search-box .btn-filter{
	background:none repeat scroll 0 0 #0e76bc!important;
}
.search-button{
	background:url(../images/search-button.png) repeat-y center;
	width: 36px;
	height: 36px;
	border:none;
	cursor: pointer;
	margin-left: 5px;
}
.search-button:hover, .go-button:hover{
	margin-left: 6px;
}
.member-login{margin-top:35px!important}
.member-login .btn-success{padding:5px 12px;font-size:13px}
.go-button{
	background:url(../images/go-button.png) repeat-y center;
	width: 36px;
	height: 36px;
	border:none;
	cursor: pointer;
	margin-left: 5px;
}

.select-cont{
	background-color: #ece3d6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 144px;
	margin-left: 5px;
}

.select-button{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
    border: none;
    background: transparent url(../images/drop-down-button.png) no-repeat right;
    width: 100%;
    cursor: pointer;

}

.select-medium{
	width: 105px;
}

.heading-sidebar{
	background: url(../images/arrow-right.png) no-repeat left;
	padding-left: 15px;
	color: #ff6406;
	/*font-family: "CorpiRegular";*/
	font-size: 13px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

.radio-style{
	display: none;
	background: none;
}

.menu-category li label{
	background: url(../images/radio.png) no-repeat left;
	height: 24px;
	padding-left: 24px;
}



.radio-style-active + label{
    background: url(../images/radio-active.png) no-repeat left !important;
}

.pad{
	padding-top: 7px;
}

.right-cont{
	width: 759px;
	min-height: 20px;
	margin-right: 35px;
	margin-top: -15px;
}

.full-cont{
	width: 94%;
	min-height: 20px;
	margin-right: 35px;
	margin-left: 35px;
	margin-top: -15px;
}

.right-cont div.right-inner{
	position: relative;
	display: block;
	border:1px solid #faa544;
	width: 100%;
	min-height: 50px;
	background: #fffcf7;
	-webkit-border-radius:8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 10px;
}
.right-cont div.right-inner-small{
	position: relative;
	display: block;
	border:1px solid #faa544;
	width: 100%;
	min-height: 10px;
	background: #fffcf7;
	-webkit-border-radius:8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.heading-inner-right{
	position: relative;
	display: block;
	margin: 2px;
	height: 25px;
	background: #e6dccc;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-bottom: 10px;
}
.heading-inner-right-small{
	position: relative;
	display: block;
	margin: 2px;
	height: 25px;
	background: #e6dccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.heading-inner-right-small p{
	margin-top: 5px;
	margin-left: 8px;
}

.heading-yellow-full{
	background: url(../images/yellow-header-full.png) no-repeat left;
	width: 759px;
	height: 34px;
}

.heading-violet-full{
	/*background: url(../images/center-head-v.png) repeat-x left;*/
	width: 100%;
	height: 34px;
	background: #0e76bc !important;
}
.heading-violet-full p{
	margin-top: 10px;
	margin-left: 10px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}
.heading-inner-right p{
	margin-top: 5px;
	margin-left: 8px;
}

.breadcrumbs{
	position: relative;
	display: block;
	font-size: 12px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.category-cont{
	width: 360px;
	min-height: 15px;
	margin-left: 12px;
	margin-bottom: 10px;
}

.head-cat div.cat-left{
	background: url(../images/left-head-v.png) no-repeat left;
	width: 6px;
	height: 34px;
}

.head-cat div.cat-center{
	background: url(../images/center-head-v.png) repeat-x left;
	min-width: 6px;
	padding-left: 5px;
	height: 34px;

}

.head-cat div.cat-center p{
	padding-top: 10px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

.head-cat div.cat-right{
	background: url(../images/right-head-v.png) no-repeat left;
	width: 15px;
	height: 34px;
}

.cat-button-down{
	background: url(../images/cat-arrow-down.png) no-repeat left;
	width: 24px;
	height: 24px;
	margin-top:8px;
	margin-left: 10px;
	cursor: pointer;

}
.cat-button-down:hover{
	background: url(../images/cat-arrow-active.png) no-repeat left;
	margin-top: 9px;
}
.topBrandsHeader .floatR{
	color:#808080;
	font-size:14px;
}
.searching-for{
	margin-top:0px!important;
}
.searching-for .topBrandsHeader{
	padding:6px 0!important;
	height:32px!important;

}

.topBrandsHeader.dynamic {
	height: auto !important;
	padding-bottom: 5px;
}
.prod-count{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 12px;
	margin-top: 12px;
}

.prod-count span{
	color: #857269
}

.cat-detail-cont{
	width: 100%;
	border: 1px solid #c4bbad;
	border-top: 4px solid #48083d;
	min-height: 45px;
	background: #f8f1e6;
}

.big-cont-cat-image{
	margin-left: 10px;
	margin-top: 10px;
	border: #e7dccd 1px solid;
	-webkit-border-radius:8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 250px;
	height: 175px;
	overflow: hidden;
	margin-bottom: 10px;
}

.big-cont-cat-image-full{
	margin-left: 10px;
	margin-top: 10px;
	border: #e7dccd 1px solid;
	-webkit-border-radius:8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 250px;
	height: 175px;
	overflow: hidden;
	margin-bottom: 10px;
}

.small-cont-cat-images{
	border: #e7dccd 1px solid;
	-webkit-border-radius:8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 80px;
	height: 48px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 3px;
	margin-right: 7px;
}

.small-cont-cat-images a{
	text-decoration: none;
}
.cat-cover-small{
	position: relative;
	background: url(../images/cover-trans.png) repeat;
	width: 76px;
	height: 45px;
	margin-top: -55px;
	margin-left: 2px;
	-webkit-border-radius:8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.cat-cover-small{
	display: none;
}

.small-cont-cat-images:hover div.cat-cover-small{
	display: block;
}

.cat-cover-small p{
	padding-top: 10px;
	color: #fff;
	margin-left: 10px;
	font-size: 14px;
	text-align: right;
	margin-right: 15px;
}
.cat-cover-small p span{
	position: relative;
	display: block;
	font-size: 11px;
}

.heading-yellow-full p{
	font-family: "CorpiRegular";
	color: #fff;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 16px;
}

.feat-cont{
	background: url(../images/feat-shadow.png) no-repeat;
	width: 176px;
	min-height: 200px;
	margin-left: 11px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.feat-img-cont{
	margin-left: 6px;
	margin-top: 6px;
	width: 157px;
	height: 120px;
	overflow: hidden;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.feat-cont-detail h4{
	position: relative;
	display: block;
	color: #ff6406;
	font-size: 14px;
	margin-bottom: 5px;
	padding-top: 5px;
}
.feat-cont-detail p{
	font-size: 12px;
	color: #2f2a26;
	margin-bottom: 5px;
}
.feat-cont-detail p span{
	color: #7c665c;
}
.feat-cont-detail{
	margin-left: 15px;
	margin-right: 15px;
}

.hr-orange{
	width: 100%;
	height: 1px;
	border-top: 1px solid #ff6406;
	margin-bottom: 5px;
}
.nav-items .sup-caption{
	padding:0px 0 0px 10px;
	font-size:14px;
	margin-bottom:5px;
}
.nav-items .sup-menu{
	height:25px;
	padding:5px 0 7px 20px;
	margin-bottom:3px;
	font-size:14px;
}
.nav-bar .first_container{
	position:absolute;
	right:0;
	width:150%!important;
}
.nav-bar ul.categories ul{
	display:none;
}
.nav-bar ul.categories li:hover ul.nav-items{
	display:block;
	position:absolute;
	background:#fff;
	left:80%;

	top:-25px;
	padding: 0 10px 5px 10px;
	z-index:10;
	/*width:110px;*/
	border:none;
	box-shadow: 0px 0px 5px #000;
	width:100%!important;
	z-index:1;
}
.nav-bar ul.categories li:hover ul.nav-items li, .nav-bar .categories li:hover ul.nav-items li label{
	width:100%!important;
	display:block;
}
.nav-bar ul.categories li ul.nav-items div{
	width:100%;
}
.nav-bar label{
	position:relative;
}
.nav-bar .categories li ul.nav-items li:hover .nav-items2, .nav-bar .categories li ul.nav-items .nav-items2:hover{
	display:block;
	position:absolute;
	left:98%;
	top:-25px;
	background:#fff;
	box-shadow: 0px 0px 5px #000;
	z-index:1;
}
.nav-bar .categories li ul.nav-items .nav-items2 *{
	width:100%!important;
	white-space: nowrap;
}
.nav-bar .categories li ul.nav-items .nav-items2 li{
	padding-left:10px!important;
	padding-right:10px!important;
}
.nav-bar{
	width:21%!important;
}
.nav-bar a{
	color:#4d4d4d;
	position:relative;
}
.nav-bar ul.categories li.category-group{
	border-top:1px solid #bfbfbf;
	padding-left:0!important;
	font-size:14px;
	position:relative;
}
.nav-bar ul.categories li label.sidebar-category{
	padding-left:10px!important;
	height:30px!important;
	width: 150px;
	padding-top:3px;
	position: relative;
}
.nav-bar ul.categories li label.sidebar-category div{
	position:relative;
}
.nav-bar ul.categories li ul{
	border-top:1px solid #bfbfbf;
	font-size:14px;
	line-height:25px;
	margin-bottom:10px;
}
.nav-bar ul li ul li, .nav-bar ul li ul a{
	padding-left:5px;
}
.nav-bar ul.categories li ul *{
	padding-left:0px!important;
	border:none!important;
}
.coming-soon{
	padding-top:30px;
	min-height:300px;
}
.filter-item{
	width:216px;
}

.filters .filter-item{
	width:46%;
}

.filter-item label{
	font-size:14px;
	padding-bottom:2px!important;
}
.filter-item input, .filter-item select{
	border:1px solid #808080;
	height:26px;
	color:#6e6e6e;
	padding:2px 5px;
	font-size:14px;
	margin-right:10px;
	width:180px;
	outline:none;
}
.filter-item #price-from, .filter-item #price-to{
	width:85px!important;
}
.filter-item .btn-filter{
	height:26px;
	width:26px;
	margin-left:0px;
	position:relative;
}
.filter-item .glyphicon-search{
	position:absolute;
	right:4px;
	top:4px;
	font-size:16px;
}
.navi-feat-wrapper{
	width:100%;float:right;
	position:relative;
	height: 45px;
}
.navi-feat{
	height: 25px;
	margin-right: 15px;
	margin-bottom: 5px;
	margin-top:10px;
	position:absolute;
	right:0;
	top:0;
}
.navi-feat .num-tag{
	display:inline-block;
	margin: 4px;
	position:relative;
	top:-4px;
}
.navi-feat strong{
	margin:0 4px 0 2px;
	position:relative;
	top:-4px;
}
.navi-feat div.left-navi a{
	background: url("../avatars/prev.png") no-repeat scroll left center rgba(0, 0, 0, 0);
        height: 19px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        width: 14px;
	position: relative;
	display: block;
}

.navi-feat div.left-navi:hover a{
	background: url("../avatars/prevH.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.navi-feat div.left-navi{
	display:inline-block;
	margin-right:4px;
}
.navi-feat div.right-navi{
	display:inline-block;
	margin-left:4px;
}
.navi-feat div.right-navi a{
	background: url("../avatars/next.png") no-repeat scroll left center rgba(0, 0, 0, 0);
        height: 19px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        width: 14px;
	position: relative;
	display: inline-block;
}

.navi-feat div.right-navi:hover a{
	background: url("../avatars/nextH.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}

#footer{
	margin-bottom: 15px;
}

#footer p{
	color: #dddddd;
	font-size: 14px;
}
#footer a{
	color:#333333;
}
#footer block-caption{
	font-family:OpenSans;
	 font-size:13px;
}
#footer .mission{
	 font-size:12px;
	font-style:italic;
}
.footerInfo ul.soc li{
	float:left;
	margin:10px 3px 0 0!important;
	padding:0!important;
	width:26px;
}
.footerInfo ul.soc{margin:0}
.login-cont{
	margin-top: -5px;
	background:#fff;
	padding:20px 10px;
}

.login-cont input[type=text], .login-cont input[type=password]{
	font-size: 11px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	width: 95px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #c0c0c0;
	margin-left: 5px;
	background-color: #ece3d6;
}

.login-cont input[type=submit] , .login-cont input[type=button]{
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ef711a;
	border: 1px solid #f88e1a;
	color: #fff;
	padding: 4px 13px 4px 13px;
	cursor: pointer;
	font-size:14px;
	margin-left:5px;
}

.login-cont input[type=submit]:hover , .login-cont input[type=button]:hover{
	background: #e26a18;
}
.login_error{
	color:red;
	margin:10px 5px 0 5px;
}
/*.modal-md{width:330px!important;}
.modal-dialog .top-header-menu{margin:0!important}
.modal-dialog .top-header-menu .user{	background:url(../images/user-top.png) 0 5px no-repeat;}
.modal-dialog .login-cont{padding:20px 10px 0 10px!important}*/
#logo{
	position: relative;
	display: block;
	background: url(../images/new-logo.png) no-repeat center;
	width: 305px;
	height: 69px;
	margin-left: 28px;
	margin-top: 5px;
}

#logo:hover{
	margin-left: 29px;
}
.header-group{
	width:772px;
}
.padded-cont{
	padding: 15px;
}

.normal-format input[type=text], .normal-format input[type=password], .normal-format textarea, .normal-format select{
	width: 190px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #937f72;
	background-color: #ece3d6;
}
.normal-format select{
	width: 202px;
}

.normal-format>div{
	margin-left: 15px;
}

.normal-format div label {
	font-size: 12px;
}

.normal-format h4{
	position: relative;
	display: block;
	width: 100%;
	background: -o-linear-gradient(bottom, #340f30 5%, #340f30 100%);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #340f30), color-stop(1, #340f30) );
	background: -moz-linear-gradient( center top, #340f30 5%, #340f30 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#340f30", endColorstr="#340f30");
	background: -o-linear-gradient(top,#340f30,340f30);
	background-color: #340f30;
	border: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	margin-bottom: 5px;
	text-indent: 10px;
}

input.longer{
	width: 510px !important;
}

input.long, .long{
	width: 320px !important;
}

.half {
width: 48%;
margin-right: 5px;
margin:5px;
line-height:18px;
}

.no-margin{
	margin:0px !important;
}

.normal-button{
	color:#fff;font-family: 'Open Sans';font-size: 14px;text-align: center;background: #41a62a;border: 0px;height: 30px;padding:0px 20px;
}

.validate-result p,.validate-result-billing p, .validate-result-credit-card p{
	margin-bottom: 10px;
	color: #f81727;
	font-size: 11px
}

.images-slider-cont{
	width:250px;
}
.img_preview_wrapper{overflow:hidden;margin:10px 0}
.img_preview_small{
	margin-right:5px;
	float:left;
	width:75px;
	height:75px;
	border:1px solid #bfbfbf;
}
.img_preview_wrapper ol{display:none;}
.img_preview_small{text-align:center;}
.img_preview_small img{
	max-width:73px;
	max-height:73px;
	width:auto;
	height:auto;
	margin:0 auto!important;
}
.product-detail-info{
	font-size: 12px;
}

.product-info{
	margin: 0px;
	font-size: 12px;
}
.product-info h4, .product-cont h4{
	padding-top: 10px;
	padding-bottom: 10px;
}
.product-info div label{
	font-size: 12px;
}

.product-info div input[type=text], .product-info div select, .product-info div textarea
,.product-cont div input[type=text],  .product-cont div select , .product-cont div textarea{
	width: 190px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #937f72;
	/*background-color: #ece3d6;*/

}

.product-info div textarea,  .product-cont div textarea{
	width: 100%;
	resize:none;
}

.product-info div select,  .product-cont div select{
	width: 202px;
}

.product-info p{
	font-size: 12px;
}

.textarea-normal{
	width: 510px!important;
	height: 50px;
	resize:none;
}


.sel-add-stock-cont{
	margin-bottom: 15px;
	border: 1px dashed #ccc;
	padding: 10px;
}

.normal-format-text{
	border: 1px solid #808080;
	height: 26px;
	color: #6e6e6e;
	padding: 2px 5px;
	font-size: 14px;
	margin-right: 10px;
	outline: none;

}
.normal-format-select{
	border: 1px solid #808080;
	height: 26px;
	color: #6e6e6e;
	padding: 2px 5px;
	font-size: 14px;
	margin-right: 10px;
	outline: none;
}
.right-cont{
	font-size: 12px;
}
.search-top-product{
	margin: 15px;
}

#search-result-product{
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

#category-main-cont{
	width: 100%;
	margin: 10px;
}
.category-selectable-cont{
	position: relative;
	display: block;
	width: 220px;
	margin-left: 5px;
	height: 150px;
/*	background: #e6dccc;*/
	background: #f3f3f3;
	overflow-y: scroll;
	overflow-x: hidden;
/*	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;*/
}

.category-selectable-cont>div{
	position: relative;
	display: block;
	width: 200px;
/*	background: #e6dccc;*/
	background: #f3f3f3;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	cursor: pointer;
	font-size: 12px;

}

.category-selectable-cont>div.active{
/*	background: #48063c;
	color: #fff;*/
	background: #dadada;
}


.category-selectable-cont>div:hover{
/*	background: #4f0942;
	color: #fff;*/
	text-decoration:underline;
}
.breadcrumb-main-cont{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.desc-cont-inner{
	width: 80%;
}

.full{
	width: 100%;
	margin-right: 5px;
}

.link-addmaster{
	margin-left: 35px;
	padding-top: 10px;
}

.float-dropdown{
	position: absolute;
	z-index: 1000;
	background: #fff;
	/*border:1px solid #cfcfcf; */
	width: 202px;
	margin-left: 7px;
	margin-top: -5px;
	padding-bottom: 0px;
	font-size: 12px;
}
.float-dropdown div{
	padding: 5px 10px 5px 10px;
	cursor: pointer;
}

.float-dropdown div:hover{
	background: #ccc;
}

.dropdown-searchresult{
	position: absolute;
	z-index: 1000;
	background: #f79025;
/*	border:1px solid #cfcfcf;*/
	width: 160%;
	margin-left: 7px;
	margin-top: -5px;
	padding-bottom: 0px;
	font-size: 12px;
	-webkit-box-shadow: 2px 2px 4px 0px #000;
	box-shadow: 2px 2px 4px 0px #000;
}


.dropdown-searchresult div{
	padding: 10px 10px 10px 10px;
	cursor: pointer;
	color: #fff;
}

.dropdown-searchresult div:hover{
	background: #f29650;
}


#category-breadcrumbs{
	position: relative;
	display: block;
	width: 100%;
	min-height: 12px;
	font-size: 12px;
}
.right-prod-det{
	position: relative;
	display: block;
	background: url(../images/img-prod-cont.png) no-repeat center top;
	width: 265px;
	margin-left: 15px;
	margin-bottom: 10px;
}

.inner-img-prod-list{
	position: relative;
	display: block;
	width: 240px;
	height: 183px;
	margin: 5px;
	background-color: #c3b7a9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #c4b8a8;
}

.navi-img-slide{
	background: url(../images/navi-cont-img.png) no-repeat center;
	position: relative;
	width: 250px;
	height: 40px;
	margin-left: 2px;
}

.navi-img-slide a.left-navi{
	position: relative;
	display: block;
	background: url(../images/prev-navi.png) no-repeat center;
	position: relative;
	width: 31px;
	height: 31px;
	margin-left: 8px;
	margin-top: 3px;
	float: left;
}

.navi-img-slide a.left-navi:hover{
	margin-left: 7px;
}

.navi-img-slide a.right-navi{
	position: relative;
	display: block;
	background: url(../images/next-navi.png) no-repeat center;
	position: relative;
	width: 31px;
	height: 31px;
	margin-right: 8px;
	margin-top: 3px;
	float: right;
}

.navi-img-slide a.right-navi:hover{
	margin-right: 7px;
}

.orange-line{
	width: 100%;
	height: 2px;
	border-top: 1px solid #fa921c;
	margin-top: 5px;
	margin-bottom: 5px;
}
.left-prod-det{
	position: relative;
	width: 295px;
}

.violet-container{
	position: relative;
	display: block;
	width: 100%;
	background: #48063c;
	background: -moz-linear-gradient(top, #48063c 0%, #3b0330 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#48063c), color-stop(100%,#3b0330));
	background: -webkit-linear-gradient(top, #48063c 0%,#3b0330 100%);
	background: -o-linear-gradient(top, #48063c 0%,#3b0330 100%);
	background: -ms-linear-gradient(top, #48063c 0%,#3b0330 100%);
	background: linear-gradient(to bottom, #48063c 0%,#3b0330 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48063c', endColorstr='#3b0330',GradientType=0 );
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding-top: 1px;
	color: #d1c3ad;
}

.violet-container div.inner{
	position: relative;
	display: block;
	margin: 4px;
	border: 1px solid #640854;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 93%;
	min-height: 45px;
	padding-bottom: 5px;
}

.add-to-cart-cont{
	width: 155px;
	margin-left: 15px;
	margin-top: 20px;
}

.quan-input-cont{
	margin: 5px;
	margin-left: 10px;
}

.quan-input-cont p{
	position: relative;
	margin-top: 10px;
	font-size: 14px;
}

.quan-input-cont input.small{
	width: 45px !important;
}

.stepper-cont{
	position: absolute;
	background: url(../images/stepper-cont.png) no-repeat center;
	width: 28px;
	height: 28px;
	right: 13px;
	margin-top: 4px;
}

.stepper-up{
	position: relative;
	display: block;
	background: url(../images/white-arrow-up.png) no-repeat center;
	width: 93%;
	height: 10px;
	border: none;
	cursor: pointer;
	margin-top: 1px;
}

.stepper-up:hover{
	background: url(../images/white-arrow-up-hover.png) no-repeat center;
}

.stepper-down{
	position: relative;
	display: block;
	background: url(../images/white-arrow-down.png) no-repeat center;
	width: 93%;
	height: 10px;
	border: none;
	cursor: pointer;
}

.stepper-down:hover{
	background: url(../images/white-arrow-down-hover.png) no-repeat center;
}

.add-to-cart{
	background: url(../images/add-to-cart.png) no-repeat center top;
	width: 140px;
	height: 37px;
	border: none;
	cursor: pointer;
	text-align: left;
	text-indent: 7px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 5px;
}

.add-to-cart:hover{
	color: #e7e7e7;
}

.order-to-another-cont{
	margin: 5px;
	margin-left: 10px;
}

.order-to-another-cont p a{
	font-size: 11px;
	color: #d1c3ad;
}

.status-selection label{
	background: url(../images/circle-point.png) no-repeat left;
	width: 21px;
	height: 22px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 24px;
}


.radio-type-sel{
	display: none;
	background: none;
}


.radio-type-sel-active + label{
    background: url(../images/circle-point-active.png) no-repeat left !important;
}
.status-selection-cont{
	width: 100%;
	margin-top: 10px;
	font-size: 13px;
	color: #49093e;
	margin-bottom: 10px;
}

.status-selection-cont div.status-selection{
	float: left;
	margin-left: 10px;
}

.status-selection-cont div.status-result{
	float: right;
	margin-right: 10px;
}

.list-supplier-cont-prod{
	margin:10px;
	padding-bottom: 20px;
}
.inner-list-wrap{
	margin: 10px;
}
.arrow-bullet{
/*	background: url(../images/bullet-arrow.png) no-repeat left;*/
	text-indent: 8px;
}

.left-inner-desc-prod{
	width: 350px;
	margin-top: 10px;
}

.left-inner-desc-prod h4{
	margin-bottom: 15px;
}
/*RIGHT INNER DESCRIPTION PRODUCT TABLE*/
.right-inner-desc-prod{
	width: 330px;
	margin-bottom: 25px;
}
.right-inner-desc-prod .gray-table tr td{
	text-align:center !important;
}
.right-inner-desc-prod .gray-table tr:first-child, .left-inner-trans-prod .gray-table tr:first-child{
	overflow: hidden;
}
.right-inner-desc-prod .gray-table tr:first-child td, .left-inner-trans-prod .gray-table tr:first-child td{
	background-color: #e5dcce;
	background: none !important; /* Old browsers */
	border:0px solid #c4bbad;
	border-width:0px 0px 1px 1px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	padding: 10px;
	font-size: 13px !important;
	font-family: Arial !important;
	font-weight: normal !important;
	font-family: Tahoma, Verdana, Segoe, sans-serif !important;
}

.right-inner-desc-prod .gray-table tr:first-child td:first-child, .left-inner-trans-prod .gray-table tr:first-child td:first-child{
	border-left:none;
	border-bottom:none;
}
.right-inner-desc-prod .gray-table tr:first-child td:last-child, .left-inner-trans-prod .gray-table tr:first-child td:last-child{
	border-bottom:none;
}

.right-inner-desc-prod .gray-table tr:last-child td:last-child, .left-inner-trans-prod .gray-table tr:last-child td:last-child{
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom-right-radius:8px;
}
.right-inner-desc-prod .gray-table tr:last-child td:first-child, .left-inner-trans-prod .gray-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
}

.right-inner-desc-prod .gray-table, .left-inner-trans-prod .gray-table{
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #c4bbad;

	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;

	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom-right-radius:8px;
}

/*RIGHT INNER DESCRIPTION, LEFT INNER TRANSLATION PRODUCT TABLE*/

.left-inner-trans-prod{
	width: 250px;
	margin:10px;
}
.inner-feedback-cont{
	margin: 10px;
	width: 550px;
}

.number-slide .flex-control-nav{
	width: 172px !important;
	margin-top: 0px !important;
	bottom: 15px !important;
}

.number-slide .flex-control-nav li a{
	text-indent: 0px !important;
	background: none !important;
	border: 0px !important;
	box-shadow: none !important;
	color: #fff;
	text-decoration: underline;
}

.number-slide .flex-control-nav li a.flex-active{
	text-decoration: none;
	color: #000;
}

#preview-slides{
 	background: #eaeaea;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 4px;
    z-index: 999;
    border: none;
}

.popout-cont{
	position:fixed;
	width: 75%;
	left: 50%;
	margin: 0 0 0 -37.5%;
	height: 450px;
	background: #fff;
	border: 1px solid #ccc;
	z-index: 1000;
	display: none;
	font-size: 12px;
        overflow: auto;
}

.images-cont{
	width: 98%;
	background-color: #fff;
	border: 1px dashed #948879;
	margin-top: 20px;
	padding: 5px;
}

.images-cont div{
	margin: 10px;
	background-color: #fff;
	height: 75px;
	border: 1px solid #ccc;
}

#target-image-upload div a:hover button.set-featured, #target-image-upload div a:hover button.delete-image{
	display: block;
}


.set-featured:hover, .delete-image:hover{
	margin-top: 4px;
}

.delete-image{
	background: url(../images/delete.png) no-repeat #f3ac13;
	width: 23px;
	height: 23px;
	border: none;
	display: none;
	position: absolute;
	margin-left: 5px;
	cursor: pointer;
	z-index: 1000;
	margin-top: 5px;
}
.set-featured{
	background: url(../images/feat.png) no-repeat #f3ac13;
	width: 23px;
	height: 23px;
	display: none;
	border: none;
	position: absolute;
	margin-left: 77px;
	cursor: pointer;
	z-index: 1000;
	margin-top: 5px;
}

#target-image-upload div{
	overflow: hidden;
}
#target-image-upload div a{
	position: relative;
	display: block;
	height: 100%;
}
#target-image-upload div a:hover button.set-featured, #target-image-upload div a:hover button.delete-image{
	display: block;
}
.cat-dropdown-cont{
	display: none;
	position: absolute;
	min-width: 295px;
	min-height: 200px;
	background: #ffffff;
	border: 1px solid #e5daca;
	-webkit-border-radius: 8px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 8px;
	-moz-border-radius-topleft: 0;
	border-radius: 8px;
	border-top-left-radius: 0;
	margin-top: 19px;
	margin-left: 1px;
	padding: 10px;
	z-index: 4000;
}

.cat-button-down:hover div.cat-dropdown-cont {
	display: block;
}

.sub-cat-popout-cont{
	width: 104px;
	margin-left: 10px;
	margin-right: 10px;
	padding-right: 20px;
	border-right: 1px solid #e6dccc;
	margin-top: 15px;
	z-index: 4000;
}

.sub-cat-popout-cont h3 a{
	color: #200d1c;
	font-size: 16px;
	text-decoration: none;
}
.sub-cat-popout-cont h3 a:hover{
	text-decoration: underline;
}

.sub-cat-popout-cont ul{
	margin-top: 10px;
}
.sub-cat-popout-cont ul li{
	position: relative;
	display: block;
}

.sub-cat-popout-cont ul li a{
	position: relative;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	text-decoration: none;
}
.sub-cat-popout-cont ul li a:hover{
	text-decoration: underline;
}

.prod-list-cont{
	width: 30%;
	margin: 11px;
	min-height: 245px;
	border: 1px solid #ccc;
	background: #e6e6e6;
}

.img-feat-prod-list-cont{
	margin: 5px;
	border: 1px solid #e7dccd;
	overflow: hidden;
	text-align:center;
	min-height:172px;
}
.img-feat-prod-list-cont a{
	margin:0 auto;
}
.img-feat-prod-list-cont img {
	max-height:167px;
	max-width:230px;
	height:auto;
	width:auto;
	margin:0 auto;
}
.quick-detail-prod-list{
	margin: 10px;
}

.quick-detail-prod-list h5 a{
	position: relative;
	display: block;
	margin-bottom: 5px;
}

.quick-detail-prod-list p{
	position: relative;
	display: block;
	margin-bottom: 5px;
}

.toggle-view-supplier{
	position: absolute;
	margin-top: -15px;
	margin-left: -5px;
}

.toggle-view-supplier button.button-view-sup{
	cursor: pointer;
	font-size: 10px;
}

.toggle-cont-supplier-list{
	display: none;
	background: #ffffff;
	border: 1px solid #e5daca;
	-webkit-border-radius: 8px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 8px;
	-moz-border-radius-topleft: 0;
	border-radius: 8px;
	border-top-left-radius: 0;
	min-width: 245px;
	min-height: 150px;
	margin-top: -2px;
	margin-left: 1px;
}

.toggle-cont-supplier-list div.gray-table{

}

.table-margin{
	margin-top: 5px;
}
.add-quick-cart{
	background: url(../images/add-cart-plus.png) no-repeat;
	border: none;
	cursor: pointer;
	width: 26px;
	height: 23px;
	margin-top: 0 auto;
	margin-left: 3px;
}

.add-quick-cart:hover{
	margin-left: 4px;
}

.overview-icon{
	position: relative;
	display: block;
	background: url(../images/icon-overview.png) no-repeat;
	width: 26px;
	height: 23px;
}

.restriction-icon{
	position: relative;
	display: block;
	background: url(../images/icon-restriction.png) no-repeat;
	width: 26px;
	height: 23px;
}

.returnPolicy-icon{
	position: relative;
	display: block;
	background: url(../images/iconreturn-policy.png) no-repeat;
	width: 26px;
	height: 23px;
}

.action-icon-cont{
	margin-top: -5px;
}

.star-cont{
	width: 56px;
	height: 13px;
	margin-top: -5px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 4px 4px 4px 4px;
	border: 1px #c4bbad solid;
	background-color: #f9f5ee;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.star-cont p.percent{
	font-size: 11px;
}
.star-rate{
	background: url(../images/star-icon.png) no-repeat;
	width: 21px;
	height: 21px;
	border: none;
	cursor: pointer;
	position: relative;
	margin-top: -4px;
	margin-right: -2px;
}
.supplier-status-cont{
	display: none;
	position: absolute;
	margin-top: -218px;
	z-index: 2000;
}

.supplier-status-cont div.inner-sup-stat{
	width: 450px;
	height: 210px;
	border: 1px solid #c2b8a7;
	background: #ffffff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	overflow: hidden;
}
.supplier-status-cont div.bottom-arrow-pop{
	background: url(../images/bottom-arrow.png) no-repeat;
	width: 13px;
	height: 11px;
	float: left;
	margin-left: 24px;
	margin-top: -1px;
}

.supplier-status-cont .textblock{
	margin: 10px;
	line-height: normal;
	white-space: normal;
}

.supp-link-cont div.supplier-status-cont{

}

.supp-link-cont:hover div.supplier-status-cont{
	display: block;
}

.inner-left-sup-stat{
	margin-left: 15px;
	margin-top: 15px;
	color: #7c665c;
}

.inner-left-sup-stat p, .inner-right-sup-stat p{
	position: relative;
	display: block;
	margin-top: 5px;
}

.inner-left-sup-stat span, .inner-right-sup-stat span{
	color: #200d1c;
}

.sup_ic_rate-cont{
	margin-top: -2px;
}

.inner-right-sup-stat{
	width: 150px;
	min-height: 120px;
	max-height: 120px;
	background: #f8f1e6;
	margin-right: 15px;
	margin-top: 15px;
	padding: 10px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
}

.inner-right-sup-stat p.feedback-top{
	color: #7c665c;
	font-size: 12px;
}

.inner-right-sup-stat p.date-feedback{
	font-size: 11px;
	margin-top: 7px;
	margin-bottom: 10px;
}

.inner-right-sup-stat p.bottom-feedback-auth{
	margin-top: 15px;
	color: #7c665c;
	font-size: 12px;
}

.supplier-home-tabs{
	margin-top: 15px;
}

.left-overview{
	margin: 10px;
	margin-top: 15px;
/*	width: 350px;*/
	width:330px;
}

.right-overview{
	width: 360px;
	margin: 10px;
}

.left-overview p, .right-overview p{
	position: relative;
	display: block;
	margin-top: 4px;
}

.overview-par{
	color: #7c665c;

}

.overview-par span{
	color: #2f1d2b;
}

.brwse-prod-link{
	margin-top: 10px;
}



.feed-back-cont-main-bot{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.arrow-conthead{
	/*background: url(../images/bottom-arrow.png) no-repeat;*/
}
.cart-icon{
	margin-top: -4px;
	margin-right: 8px;
}
.cart-container{
	margin: 10px;
}

.inner-cont-billing-checkout{
	margin: 10px;
}

.new-shipping-info{
	display: none;
}

.new-shipping-info{
	margin-top: 15px;
}

.other-shipping-info{
	display: none;
}

.other-shipping-info{
	margin-top: 15px;
}

.selectable-div{
	width: 50%;
}

.circle-loading{
	background: url(../images/ajax-payment.gif) no-repeat;
	width: 31px;
	height: 31px;
}

#loading-payment, #loading-supplierpayment{
	display: none;
	margin-top: 5px;
}

.final-payment-table{
	margin: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

#checkout-paypal{
	position: relative;
	display: block;
	background: url(../images/express-checkout-hero.png) no-repeat;
	width: 200px;
	height: 98px;
	background-size: contain;
}

.shipping-box{
	margin: 5px;
}

.shipping-box>div{
	margin-top: 5px;
}
.table-format-det{
	margin-top: 2px;
}

.table-format-det label{
	color: #333;
	margin-right: 5px;
}

.p-infoformat{
	margin-left: 5px;
	margin-bottom: 5px;
}

.label-infoformat{
	/*color: #ff6406;*/
	color: #0e76bc;
}
#submit-confirmation-buyer{
	display: none;
	height: 26px;
	margin-top: 4px;
    /*
	background: #f0731d;
	background: -moz-linear-gradient(top, #f0731d 0%, #f0731d 25%, #ea4918 72%, #ea4918 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0731d), color-stop(25%,#f0731d), color-stop(72%,#ea4918), color-stop(100%,#ea4918));
	background: -webkit-linear-gradient(top, #f0731d 0%,#f0731d 25%,#ea4918 72%,#ea4918 100%);
	background: -o-linear-gradient(top, #f0731d 0%,#f0731d 25%,#ea4918 72%,#ea4918 100%);
	background: -ms-linear-gradient(top, #f0731d 0%,#f0731d 25%,#ea4918 72%,#ea4918 100%);
	background: linear-gradient(to bottom, #f0731d 0%,#f0731d 25%,#ea4918 72%,#ea4918 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0731d', endColorstr='#ea4918',GradientType=0 );
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	*/
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 10px;
	margin-left: 10px;
}
#submit-confirmation-buyer:hover{
	color: #222;
}
#country-shipping-cont{
	display: none;
}

.big-font *{
	font-size: 15px;
}

.full-ta{
	width:97% !important;
	resize:none;
	height: 50px;
}

.user-icon{
	width: 120px;
	height: 120px;
	margin-bottom: 5px;
	overflow: hidden;
	border:1px solid #d1d1d1;
}

.user-icon:hover{
	opacity:1;
}
.user-icon img{
	width: 100%;
	height: 100%;
}

.user-icon-big{
	width: 175px;
	height: 175px;
	margin-bottom: 5px;
	overflow: hidden;
	border:1px solid #d1d1d1;
}

.user-icon-small{
	width: 120px;
	height: 30px;
	margin-bottom: 5px;
	overflow: hidden;
	border:1px solid #d1d1d1;
}


.profile-cont{
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 11px;
}

.informative-format{
	font-size: 11px;
	margin-bottom: 10px;

}
.informative-format p>span{
	color: #473021;
}
.informative-format>div{
	margin-bottom: 5px;
}

.right-inner-half{
	width: 49% !important;
	margin-right: 10px;
}

.right-inner-half-fr{
	width: 49% !important;
	margin-right: 0px;
}

.selectable-div{
	margin-bottom:20px;
}

.message-det{
	border: 1px solid #e8e8e8;
	padding: 5px;
	margin-bottom: 5px;
}

.message-det div.message-inner-cont{
	position: relative;
	padding: 5px;
	border: 1px solid #e8e8e8;
	margin: 10px;

}

.small-p-label{
	font-size: 10px;
	font-style: italic;
	color: #bfbfbf;
}

.add-reply{
	width: 80% !important;
}
.reply-main-container{
	padding: 5px;

}
.reply-main-container>div{
	margin: 10px;
	border: 1px solid #937f72;
	background-color: #ece3d6;
	padding: 5px;
}

.reply-content{
	margin: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.message-main-cont{
	height: 350px;
	overflow: scroll;
	overflow-x:visible;
}
.reply-container-added{
	margin-left: 15px;
}

.reply-container-added>p.label{
	margin-top: 15px;
}

.reply-container-added>button.normal-button{
	margin-top: 8px;
	margin-right: 15px;
}

.notify-new{
	position: relative;
	display: block;
	padding:3px 6px 3px 6px;
	background: #ff6406;
	margin-left: 5px;
	margin-right: 10px;
	color: #fff;
}

.hide{
	display: none;
}

.full-width-link{
	position: relative;
	display: block;
	width: 98.5%;
	text-align: center;
	background: #ec1f3c;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 5px;
	border-radius: 5px;
	text-decoration: none
}

.full-width-link:hover{
	background: #eb102f;
}

.full-yellow{
	background: #f8ea0f !important;
}
.full-yellow:hover{
	background: #f3e50a !important;
}
.message-container-inbox{
	position: relative;
	display:  block;
	border: 1px dotted #ccc;
	width: 97%;
	padding:10px;
	min-height: 45px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.red{
	color: #f00808;
}

.mrg-top{
	margin-top: 10px;
}
.width-400{
	width: 400px;
}

.error-cont{
	margin: 10px;
	background: #FA9696;
	border: 1px solid #F54E4E !important;
	color: #fff !important;
	text-align: center;
	font-size: 13px;
}
.error-cont p{
	position: relative;
	display: block;
	margin-top: 5px;
	color: #fff !important;
	font-size: 12px;
	text-align: left;
	margin-left: 5px;
}

.success-cont{
	margin: 10px;
	background: #7eea60;
	border: 1px solid #4cdc25 !important;
	color: #fff !important;
	text-align: center;
	font-size: 13px;
}

.success-cont p{
	position: relative;
	display: block;
	margin-top: 5px;
	color: #fff !important;
	font-size: 12px;
	text-align: left;
	margin-left: 5px;
}


.sales-result-trans{
	margin-top: 5px;
}

.text-area-disable{
	width: 700px;
	border: none;
	min-height: 25px;
	padding: 10px;
	resize:none;
}

.text-area-enable{
	border: 1px solid #737373;
	background: #ebebeb;
}

.bt-link-format{
	background: none;
	border: none;
	color: #d2bc02;
	cursor: pointer;
}

div.prodwrap{width: 770px;}
div.mynav,div.mynav a{font-family: 'Open Sans'; font-size:13px; color:#4c4c4c}
div.mynav .rarrow{color:#0e76bc;position:relative;display:inline-block;}
div.mynav .rarrow img {position:absolute;left:0px;top:-4px}
div.prodinfoblock{border:1px solid #bfbfbf;background:#fafafa;}
div.prodinfoblock div.prodinfotitle{color:#0e76bc;font-size: 16px;font-family: 'Open Sans';}
div.prodtitle{border-bottom:1px solid #bfbfbf;font-weight:bold;font-family:''Open Sans'';padding:10px}
div.prodininfo{padding:10px;overflow:hidden;}
div.prodimg{float:left;overflow:hidden!important;width:400px}
div.prodimg .flexslider img{max-height:400px!important;width:auto!important;max-width:400px!important;height:auto!important;margin:0 auto}
div.prodimg .flexslider{margin-bottom:10px!important}
div.prodimg .flexslider .img_preview_small{margin-top:5px!important;}
.preview_row_margin{height:5px;clear:both}
div.prodimg img.bigimg{width:400px;}
div.producttextinfo{float:left;margin-left:10px;width: 338px}
div.prodprice{font-family:'Open Sans';color:#bf1e2e;font-size:24px;}
div.prodprice span{font-family:'Open Sans';color:#bf1e2e;font-size:21px;}
div.prodparams{overflow: hidden;font-family: 'Open Sans';color: #4c4c4c;margin-top:30px;font-size: 14px;}
div.prodparams div.pitem{overflow: hidden;font-family: 'Open Sans';color: #4c4c4c;margin-bottom: 10px;}
div.prodparams div.pitem a{color: #4c4c4c;text-decoration: underline;}
div.prodparams div.pitem a:hover{color: #4c4c4c;text-decoration: none;}
div.prodparams div.pitem div.plabel{float: left;font-family: 'Open Sans';color: #4c4c4c;width: 125px;overflow: hidden;}
div.prodparams div.pitem div.pvalue{float: left;font-family: 'Open Sans';color: #4c4c4c;}
div.addtocart{position: absolute;margin-left: 625px;z-index: 1000;}
div.addtocart div.quantt {font-family: 'Open Sans';font-size: 13px;color: #4c4c4c;margin-bottom: 10px}
div.addtocart div.quantt input[type="number"]{border: 1px solid #808080;height: 26px;color: #6e6e6e;padding: 0px 3px;font-size: 13px;outline: none;width: 64px;text-align: center;}
div.addtocart div.add2cartbtn{}
.browse-products{margin-top:10px}
.greenbutton{color:#fff;font-family: 'Open Sans';font-size: 14px;text-align: center;background: #41a62a;border: 0px;height: 30px;padding:0px 20px;}
.greenbutton.disabled{background: #e6e6e6;}
div.addtocart div.add2cartbtn button{width: 123px;}
a.blue{color:#0e76bc;text-decoration: none;}
a.blue:hover{color:#0e76bc;text-decoration: underline;}
a.black{color:#4c4c4c;text-decoration: none;}
a.black:hover{color:#4c4c4c;text-decoration: underline;}
.disclaimer{font-size: 12px;margin-top: 8px;}

#supplier-product-tab{background: none;}
#supplier-product-tab div.list-wrap{background:none;}

table.gtable{border: 1px solid #bfbfbf;border-collapse: collapse;background: #f3f3f3;width:100%;}
table.gtable th{font-weight: normal;text-align: center;vertical-align: middle;background: #e6e6e6;border: 1px solid #bfbfbf;padding:5px 10px;}
table.gtable td{padding:5px 10px;font-size: 13px;color:#4c4c4c;font-family: 'Open Sans';border: 1px solid #bfbfbf;vertical-align: middle;}
table.gtable tr{background: #f3f3f3;}
table.gtable tr:nth-child(odd){background: #e6e6e6;}
table.gtable.noodd tr:nth-child(odd){background: #f3f3f3;}

.star-cont{width: 56px;height: 20px;border: 1px solid #808080;border-radius: 0px;background: #fff;}
.star-rate{margin-top: -6px;}
div.titlebar{width: 100%;background: #e6e6e6;color: #4c4c4c;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;padding:10px;margin-bottom: 10px;}

div.memberLogin{
    width:360px;
    height:260px;
    background-color:#FFF;
    padding:30px 20px 20px;
    position:fixed;
    z-index:700;
    top: 28%;
    display:none;
}
div.message_supplier_popup{
    width:360px;
    height:430px;
    background-color:#FFF;
    padding:30px 20px 20px;
    position:fixed;
    z-index:700;
    top: 18%;
    display:none;
}
div.memberLogin h2, div.message_supplier_popup h2{
    display:block;
    text-align:center;
    width:auto;
    margin:auto;
    color:#4197D9;
    font-size:20px;
    font-family:helvetica, sans-serif;
}
div.memberLogin p, div.message_supplier_popup p{
    font-size:10px;
    font-family:helvetica, sans-serif;
    text-align:center;
    margin-top:1px;
    color:#555;
}
div.memberLogin div.inputHolder{
    width:180px;
    height:90px;
    margin:auto;
}
div.message_supplier_popup div.inputHolder{
    width:275px;
    height:320px;
    margin:auto;
}
div.memberLogin input{
    width:160px;
    height: 30px;
    border:1px solid #EEE;
    background-color:#F3F3F3;
    margin-top:10px;
    padding:5px;
    font-size:12px;
}
div.message_supplier_popup input{
    width:275px;
    height: 30px;
    border:1px solid #EEE;
    background-color:#F3F3F3;
    margin-top:4px;
    margin-bottom:10px;
    padding:5px;
    font-size:12px;
}
div.message_supplier_popup textarea{
    width:275px;
    //height: 30px;
    border:1px solid #EEE;
    background-color:#F3F3F3;
    margin-top:4px;
    margin-bottom:10px;
    padding:5px;
    font-size:12px;
}
div.message_supplier_popup span{
    margin-top:10px;
}
a.submitLogin, a.message_supplier_submit{
    display:block;
    width:200px;
    height:36px;
    padding-top:6px;
    font-family:helvetica, sans-serif;
    font-size:22px;
    margin:1px auto 0;
    color:#FFF;
    text-align:center;
    font-variant:small-caps;
    background-color:#4297DA;
}
a.submitLogin:hover, a.message_supplier_submit:hover{
	text-decoration: none;
}
div#cover, div#message_supplier_popup_cover{
    position:fixed;
    width:110%;
    height:110%;
    margin:0;
    padding:0;
    background-color:#161616;
    opacity:0.5;
    filter:alpha(opacity=50);
    top:-1%;
    left:-1%;
    z-index:600;
    display:none;
}
div.memberLogin div, div.message_supplier_popup div{
    font-size:10px;
    text-transform:uppercase;
    font-family:helvetica, sans-serif;
    color:#333;
}
div.memberFooter{
    width:280px;
    height:30px;
    margin:30px auto 0px;
    text-align:center;
}
div.memberFooter div.firstest{
    display:block;
    float: none;
    text-decoration:underline;
}
span.firstest a{
    color:#333;
}
div.memberFooter div.lastest{
    display:block;
    float: none;
    margin-top:16px;
}
div.memberFooter div.lastest a{
    text-decoration:underline;
    color:#4197D9;

}

div.addedtofeed{
	color:#41a62a;
}

#supplierpagination li {
	display: inline-block;
}

#supplierpagination li a.current {
	color: #333333;
	cursor: default;
}

#supplierpagination li a.current:hover {
	text-decoration: none !important;
}

#datafeedpagination li {
	display: inline-block;
}

#datafeedpagination li a.current {
	color: #333333;
	cursor: default;
}

#datafeedpagination li a.current:hover {
	text-decoration: none !important;
}

.import-success {
	margin-bottom: 10px;
	color: #41a62a;
	border: 1px solid #bfbfbf;
	background: #e6e6e6;
	padding: 5px 10px;
}

.import-error {
	margin-bottom: 10px;
	color: red;
	border: 1px solid #bfbfbf;
	background: #e6e6e6;
	padding: 5px 10px;
}

#pagination li a.active {
	color: #000 !important;
	cursor: default;
}

#list-product-result td {
	text-align: left !important;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.5;
    filter:alpha(opacity=50);
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}
.overlay img{
    position: fixed;
    left: 50%;
    top: 50%;
}

.tablesorter thead a{
    margin-right: 5px;
}

#add-stok-cont .clear, #add-stok-cont .clearfix{padding-top: 5px;}

#popbrand {
	overflow: scroll;
	top: 25%;
}