#menu {
/*    background: url("images/home_feature_bg.jpg") repeat-x scroll 0 0 transparent;*/

    padding: 5px 10px 0px 0px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
/*    border-bottom: 3px solid #5C9C1F;*/
    float:right;
    margin-top: -60px;
    margin-right: 50px;
}

#nav .first_item {
    margin-left: 30px;
}

#nav, #nav ul { /* all lists */
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1;
    z-index: 10;
}

#nav a {
    display: block;
    width: 130px;
    text-decoration: none;
}

#nav li { /* all list items */
    float: left;
    width: 90px; /* width needed or else Opera goes nuts */
    font-size: 14px;
/*    background-color: #5a718e;*/

}

#nav li a span {
/*   border: 2px solid #5a718e;*/
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    height: 23px;
    padding: 7px 7px;
    background: #fba127;
}

#nav li a span:hover, #nav li a span.sfhover {  /*all list items*/
    background-color: #460539;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 7px 7px;
    
}



#nav li a { /* all list anchors */
    padding: 10px;
    color: #ffffff;
}

#nav ul li a { /* second level anchors */
/*    border: 2px solid #5a718e;*/
}

#nav li ul { /* second-level lists */
    position: absolute;
    /*background-color: #0d669e;*/
    min-width: 130px;
    left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
/*    border: 3px solid #5C9C1F;*/
    border-top:none;
    margin-top: -9px;
}

#nav li ul li a span {
    position: relative;
    display: block;
    width: 106px !important;
    line-height: 24px;
}

#nav li ul ul { /* third-and-above-level lists */
    margin: -1em 0 0 130px;
    -webkit-border-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
}

#nav li:hover ul ul, #nav li.sfhover ul ul {
    left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul { /* lists nested under hovered list items */
    left: auto;
}

/*
	Small Screen
*/
@media only screen and (max-width: 1023px) {

	/*
		#menu {
			padding: 0px;
		}
		#nav li {
			width: 90px; 
			font-size: 16px;
		}
		
		#nav li a span {
			font-size: 16px;
			padding: 0px;
		}
	*/
	

}

@media handheld, only screen and (max-width: 767px) {


}
